imga{
/* text-shadow position x-axis y-axis color;*/
    text-shadow: inset 5rem 2rem gold;
/* text-shadow x-axis y-axis opacity spreding color; */
    text-shadow: 10px 5px 2px 100px green;



/* box shadow: position x-axis y-axis color; */
    box-shadow: inset 5rem 2rem gold;
/* box shadow: x-axis y-axis opacity spreding color; */
    box-shadow: 10px 5px 2px 100px green;
/* box-shadow: for add layer in shadow; */
    box-shadow: 10px 15px red, 15px 8px green;



/* mix-blend-mode: display style- hard-light,difference normal; */    
    mix-blend-mode: screen;


/* overflow: (auto,left,right) control content flow; */
    overflow: right;


/* background-image: transition between color(Angle of gradient, first color & strat point, second color & end point); */
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}


h1{
    color:aquamarine;
}